.modal-card {
    max-width: 500px;
    width: 90%;
  }
  
  .modal-card-body .field:not(:last-child) {
    margin-bottom: 1.2rem;
  }
  
  .buttons .button {
    margin: 2px;
  }

  /* Estilos para el título */
.modal-card-head .title {
  color: #fff !important;
}