.slide-container {
  display: flex;
  height: 520px;
}

.slide-inner {
  display: flex;
  width: 100%;
  height: 100%;
}

.slide-section {
  width: 50%;
  height: 100%;
}

.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.5rem;
}

.login-form-container {
  width: 100%;
  max-width: 350px;
}

/* Imagen */
.image-section {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image-section img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
}
