.home-layout {
  display: flex;
  flex-direction: column;
  gap: 4rem; 
  padding-top: 0;
  background-color: #000000;
}

.home-section {
  width: 100%;
  padding: 3rem 0;
}

.section-promos {
  margin-top: -2rem; 
}

.section-despiece {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.home-footer-wrapper {
  margin-top: 3rem;
  padding-top: 2rem;
  background: #910808; 
  color: rgb(0, 0, 0);
}

.home-section:not(:first-child) {
  border-top: 1px solid rgba(0,0,0,0.0);
}

.home-section,
.home-footer-wrapper {
  transition: all 0.3s ease;
}

/* Responsividad */
@media (max-width: 768px) {
  .home-layout {
    gap: 2rem;
  }

  .home-section {
    padding: 2rem 1rem;
  }
}
